view,
text
{
	font-family: "Microsoft YaHei";
	-ms-overflow-style: none;
scrollbar-width: none ;
box-sizing: border-box;
}
		.gradient {
			
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
body{
	overflow-x: auto ;
	min-width: 340px;
} 
.page{
	width: 100vw;
}
/* #ifdef H5 */
*::-webkit-scrollbar {
	display: none;
}
/* #endif */
/* 禁用水平滚动条 */
::-webkit-scrollbar {
    height: 0;
}

/* 禁用垂直滚动条 */
::-webkit-scrollbar {
    width: 0;
}
$topic-color:#043e5a;
uni-button[type='primary'],
.uni-tag--primary,
.uni-data-checklist .checklist-group .checklist-box.is--default.is-checked .checkbox__inner,
{
	background-color: $topic-color !important;
	    border-color: $topic-color !important;
}
.uni-data-checklist .checklist-group .checklist-box.is--default.is-checked .checklist-text{
	color: $topic-color !important;
}
