*{
	font-family: "lucida grande", 
	"lucida sans unicode", 
	lucida, helvetica, 
	"Hiragino Sans GB", 
	"Microsoft YaHei",
	"WenQuanYi Micro Hei",
	 sans-serif;
	-ms-overflow-style: none;
scrollbar-width: none ;
box-sizing: border-box;
}
		.gradient {
			
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
body{
	overflow-x: hidden ;
}
*::-webkit-scrollbar {
	display: none;
}